<h1> <%= @doctor.name %> </h1>
Department: <%= @doctor.department %><br>
Appointments:
<ul>
  <% @doctor.appointments.each do |a| %>
  <li>
  Date: <%= a.appointment_datetime.strftime("%B %d, %Y at %k:%M") %><br>
  Patient Name: <%= link_to "#{a.patient.name}", patient_path(a.patient) %>
  </li><br>
  <% end %>
</ul>
