<h1><%= @doctor.name %></h1>
<strong>Department:</strong> <%= @doctor.department %>

<h2>Appointments</h2>
<ul>
  <% @doctor.appointments.each do |appointment| %>
    <li><%= appointment.appointment_datetime.strftime("%B %d, %Y at %H:%M") %> - <%= link_to appointment.patient.name, patient_path(appointment.patient) %></li>
  <% end %>
</ul>
